body{
    margin:0;
}

.app{

}

.sponsors-box{
    overflow: hidden;
    position: relative;
}

h2{
    margin: 0;
}
p{
    margin: 0;
}

.sponsor{
    position: absolute;
    background-size: cover;
    background-position: center;
    border:1px solid #000;
    box-shadow: 0 0 0 1px #000;
    img{
        width: 100%;
        pointer-events: none;
        position: absolute;
    }
}